In [2]:
import pandas as pd
import sqlite3


# SQLite connection banayein
conn = sqlite3.connect("car_rentals.db")

# SQL query se data fetch karein
df = pd.read_sql_query("SELECT * FROM bookings", conn)

# Connection close karein
conn.close()

# DataFrame print karein
print(df)

   id            name        phone           cnic               car  days  \
0   1  Muhammad Affan  12345678901  4210112345678  Mercedes E-Class     4
1   2            Azam  12345678901  1234567890213     Suzuki Cultus     6

     total              date
0  48000.0  2025-07-23 01:23
1   9000.0  2025-07-23 01:39